body {
    background-color: white;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    font-size: 3.5em;
}
h2{
    font-size: 2.5em;
}
h3{
    font-size: 1.5em;
}
h4{
    font-size: 1em;
}

header {
    background-color: beige;
    text-align: center;
    letter-spacing: .25em;
    padding: 1%;
}
.nav {
    background-color: red;
    position: fixed;
    top: 21%;
    left: 0;
    text-align: center;
    border: 10px solid red;
    width: 10%;
    height: 100%;
    margin-right: 90%;
}

.nav a {
    text-align: center;
    font-size: .75em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .1em;
    margin: .25em;
    border: .25em;
    border-radius: .1em;
    padding: .25em;
    width: 100%;
    border: .25em solid red;
    font-weight: bold;
}
.nav a:hover {
    background: white;
}
.nav a:active {
    background: beige;
    color: red;
}
.nav a.active {
    background: beige;
    color: red;
}
